
  
  
  @media screen and (max-width: 600px) {
    .form {
      width: 90%;
    }
  }
  
  .input-id{
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }